body {
    color: $color-common;
    background-color: $color-black;
    font-family: 'Fira Sans', sans-serif;
    font-weight: $font-regular;
}

a {
    display: inline-block;
    text-decoration: none;
}

.suptitle-left {
    font-size: 22px;
    line-height: 1.45;
    text-align: right;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    font-weight: $font-regular;
    opacity: $opacity-common;
}