html {box-sizing: border-box;}

*,
*::before,
*::after {box-sizing: inherit;}

body {
    color: $color-common;
    background-color: $color-black;
    font-family: 'Fira Sans', sans-serif;
    font-weight: $font-regular;
    line-height: 1.45;
}

a {
    display: inline-block;
    text-decoration: none;
}

p {margin: 0;}
h1,h2,h3 {margin: 0;}
ul {margin: 0; padding: 0;}
li {list-style: none;}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.suptitle{
    display: inline-block;
    font-size: 22px;
    line-height: 1.45;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    font-weight: $font-regular;
    opacity: $opacity-common;
    position: relative;

    &::before {
        display: block;
        content: "";
        width: 80px;
        height: 1px;
        background-color: $color-common;
        position: absolute;
        top: 50%;
        left: 0;
    }

    &--left { padding-left: 107px; }
    &--right {padding-right: 107px;}
}

.title {
    position: relative;
    display: inline-block;

    font-weight: $font-extra-bold;
    font-size: 80px;
    line-height: 1.075;
    text-transform: uppercase;

    &--small {
        font-size: 40px;
    }

    &--line::after {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        right: 0;
        width: 80px;
        height: 1px;
        background-color: $color-secondary;
        margin-bottom: 15px;
    }
}

.title-shadow {
    z-index: 1;

    position: absolute;
    right: 0;
    top: 0;

    font-size: 200px;
    line-height: 0.78;
    font-weight: $font-extra-bold;
    opacity: 0.02;
    text-transform: uppercase;
}

.slider-arrow {
    cursor: pointer;
    transition: $transition-common;
    padding: 0;

    &:hover {
        background-color: $color-secondary;
    }
}