.hedaer {
    height: 100vh;
    position: relative;
}

.header__title-shadow {
    opacity: 0.07;
    max-width: 467px;
    top: -0.9%;
    left: -0.9%;
    z-index: 4;
}

.aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    max-width: 169px;
    width: 100%;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.25);

    &__logo {
        display: block;
        cursor: pointer;
        z-index: 6;
    }

    &__content {
        margin-top: 25px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
        font-size: 12px;
        font-weight: $font-medium;
        color: $color-common;
        letter-spacing: 3px;
        line-height: 1.16;
        transition: $transition-common;

        &:hover {
            color: $color-secondary;
        }

        img {
            margin-bottom: 5px;
        }
    }
}

.aside__search {
    display: block;
    width: 24px;
    z-index: 6;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 23px;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__day {
        font-size: 72px;
        font-weight: $font-extra-bold;
        line-height: 1;
        padding-bottom: 4px;
    }

    &__month-year {
        font-size: 16px;
        line-height: 1.19;
        font-weight: $font-light;
        letter-spacing: 1.4px;
    }
}

.aside__location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    letter-spacing: 1.05px;
    font-weight: $font-light;
    margin-top: 30px;

    img {
        margin-right: 8px;
    }
}

.header__slider {

    &-item {
        height: 100vh;
        background: url('../img/header/header-bg.jpg') no-repeat;
        background-size: cover;
        //background-position: center;
        position: relative;
        overflow: hidden;
    }

    .slider-arrow {
        position: absolute;
        top: 40px;
        right: 80px;
        z-index: 4;
    }

    .slider-arrow-left {
        right: 125px;
    }
}

.slider-dots {
    position: absolute;
    right: 50px;
    bottom: 34px;
    max-width: 920px;
    width: 100%;
    color: $color-common;
    
    .dots-box {
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 4px solid $color-common;
        padding-top: 4px;

        &__number {
            font-size: 24px;
            font-weight: $font-extra-bold;
            line-height: 1.41;
        }

        &__name {
            font-size: 16px;
            line-height: 1.18;
            font-weight: $font-light;
        }
    }

    .slick-current .dots-box {
        border-color: $color-secondary;
    }
}

.header__content {
    text-align: right;
    position: absolute;
    right: 80px;
    bottom: 116px;

    .suptitle {
        margin-bottom: 11px;
    }

    .title {
        margin-bottom: 40px;
    }
    
    .title--small {
        margin-top: 4px;
        margin-bottom: 20px;
    }
}

.map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}