.hedaer {
    height: 100vh;
    position: relative;
}


.header__slider {

    &-item {
        height: 100vh;
        background: url('../../img/header/header-bg.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .slider-arrow {
        position: absolute;
        top: 40px;
        right: 80px;
        z-index: 4;
    }

    .slider-arrow-left {
        right: 125px;
    }
}

.header__content {
    text-align: right;
    position: absolute;
    right: 80px;
    bottom: 116px;

    .suptitle {
        margin-bottom: 11px;
    }

    .title {
        margin-bottom: 40px;
    }
    
    .title--small {
        margin-top: 4px;
        margin-bottom: 20px;
    }
}

