
.header__slider {

    &-item {
        height: 100vh;
        background: url('../../img/header/header-bg.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}

.slider-item__info {
    position: absolute;
    right: 80px;
    bottom: 116px;
}