.shop {
    padding-top: 140px;
    padding-bottom: 140px;

    &__slider {
        margin-top: 80px;
    }
    
    &__title {
        margin-left: 13.5%;
        display: inline-block;
    }

    &__title-shadow {
        top: 30%;
        right: -15%;
    }

    &__content {
        margin-left: 133px;
        display: flex;
        justify-content: space-between;
    }

    &__board-info {
        margin-top: 145px;
    }

    &__stars {
        margin-top: 25px;
        margin-left: -16px;
    }

    &__board-price {
        font-weight: $font-extra-bold;
        font-size: 32px;
        line-height: 1.25;
        text-transform: uppercase;
        margin-top: -10px;
        margin-bottom: 70px;

        sup {
            font-size: 18px;
            padding-left: 6px;
        }
    }
}

.extras {
    max-width: 400px;
    width: 100%;

    &__title {
        font-size: 28px;
    }

    &__list {
        display: flex;
        align-items: flex-end;
        height: 200px;
    }

    &__name {
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 8px;
        text-transform: uppercase;
        opacity: 0.5;
    }

    &__item {
        text-align: center;
        
    }

    &__img {

    }

    &__price {
        font-size: 18px;
        font-weight: $font-extra-bold;
        text-transform: uppercase;
    }
}