.surf {
    background: url('../../img/surf/location-icon.png') no-repeat;
    background-position: right 210px;
    background-size: auto;
    background-color: #171919;
    padding-top: 164px;
    height: 1500px;

    &__title {
        margin-left: 13.5%;
    }

    &__title-shadow {
        top: 35px;
        right: 25px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 50px;
        margin-right: 80px;

        span {font-weight: 100;}
    }

    &__location {
        margin-bottom: 13px;
    }
}

/* SURF SLIDER  */

.surf-slider {
    height: 100%;
    padding-top: 110px;
    
    .slider-arrow {
        position: absolute;
        top: -30px;
        right: 0;
    }

    .slider-arrow-left {
        right: 125px;
    }

    .slider-arrow-right {
        right: 90px;
    }
}

.surf-list {
    height: 840px;
    display: flex;
    

}

.surf-card {
    width: 400px !important;
    height: 750px;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


   &__inner {
       width: 100%;
       height: 100%;
       background-color: rgba(#1C2121, .85);
       z-index: 5;
   }

   &__title {
       width: 140px;
       padding: 75px 0 0 40px;
       font-size: 40px;
       line-height: 1;
       font-weight: $font-extra-bold;
       text-transform: uppercase;
   }

   &__location {
       font-size: 18px;
       letter-spacing: 8px;
       text-transform: uppercase;
       transform: rotate(-90deg);
       position: absolute;
       left: 40px;
       bottom: 80px;
       width: 0;
       height: 0;
       white-space: nowrap;

       span {
           font-weight: 100;
       }
   }

}

.surf-card:not(:first-child) {
    margin-left: -30px;
}

.surf-card:nth-child(even) {
    margin-top: 0px;
}

.surf-card:nth-child(odd) {
    margin-top: 90px;
}

.surf-card:nth-child(4n + 1) {
    margin-top: 32px;
}