.surf {
    background: url('../../img/surf/location-icon.png') no-repeat;
    background-position: right 210px;
    background-size: auto;
    background-color: #171919;
    padding-top: 164px;
    height: 2500px;

    &__title {
        margin-left: 13.5%;
    }

    &__title-shadow {
        top: 35px;
        right: 25px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 50px;
        margin-right: 80px;

        span {font-weight: 100;}
    }

    &__location {
        margin-bottom: 13px;
    }
}

/* SURF MAP */

.surf-map {
    max-width: 1200px;
    min-height: 635px;
    background: url('../../img/surf/surf-slider/surf-map.png') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: -30px;

    &__list {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__item {
        position: absolute;

        &--1 {
            top: 20px;
            right: 30px;
        }
    }

    &__circle {
        width: 24px;
        height: 24px;
        background-color: $color-secondary;
        border-radius: 50%;
        box-shadow: 0 0 35px $color-secondary;
        cursor: pointer;
        z-index: 7;
    }
}


/* SURF SLIDER  */

.surf-slider {
    height: 100%;
    padding-top: 110px;
    
    .surf-arrow {
        position: absolute;
        top: -60px;
        right: 0;
        padding: 10px;
    }

    .slider-arrow-left {
        right: 140px;
    }

    .slider-arrow-right {
        right: 90px;
    }
}

.surf-list {
    height: 840px;
    display: flex;
}

.surf-card {
    width: 400px !important;
    height: 750px;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    

   &__inner {
       width: 100%;
       height: 100%;
       background-color: rgba(#1C2121, .85);
       z-index: 5;
       transition: background-color $transition-common;
   }

   &:hover &__inner {
        background-color: rgba(#1C2121, 0.3);
    }

   &__title {
       width: 140px;
       padding: 75px 0 0 40px;
       font-size: 40px;
       line-height: 1;
       font-weight: $font-extra-bold;
       text-transform: uppercase;
   }

   &__location {
       font-size: 18px;
       line-height: 1;
       letter-spacing: 8px;
       text-transform: uppercase;
       transform: rotate(-90deg);
       position: absolute;
       left: 40px;
       bottom: 80px;
       width: 0;
       height: 0;
       white-space: nowrap;

       span {
           font-weight: 100;
       }
    }

    .btn-surf {
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 40px;
        transition: opacity $transition-common;
    }

    &:hover .btn-surf {
        opacity: 1;
    }

}

.surf-card:not(:first-child) {
    margin-left: -30px;
}

.surf-card:nth-child(even) {
    margin-top: 0px;
}

.surf-card:nth-child(odd) {
    margin-top: 90px;
}

.surf-card:nth-child(4n + 1) {
    margin-top: 32px;
}